.form-register{
    width: 600px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
}

.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.form-control.my-3{
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
}

.form-register .btn{
    width: 100%;   
}

.lists{
    width: 600px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
}

.data{
    width: 400px;
    background: black;
    padding: 10px;
    margin: auto;
    margin-top: 10px;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
}

.data .btn{
    width: 10%;
}