<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue started</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
    <section id="app">
        <h1 v-show="seen">Hola Emmanuel :3</h1>
        <div class="form-register">
            <h3>Graphics cards add</h3>
            <input class="form-control my-3" type="text" placeholder="Name" v-model="newName">
            <input class="form-control my-3" type="text" placeholder="Description" v-model="newDescription">     
            <button class="btn btn-primary" @click="AddNewCard" >Add</button>
        </div>       
        <lesson-one :cards="cards"></lesson-one>
    </section>
    <script src="./js/components/cards.js"></script>
    <script src="./js/index.js"></script>
</body>
</html>